

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Portafolio</title>
</head>
    <body class="scroll-smooth bg-gradient-to-l from-purple-950 via-white to-purple-300/75 min-h-screen">
        <slot />
    </body>
</html>

<style is:global>
    @import "tailwindcss";

    
</style>

