---
---

<section id="proyectos" class="scroll-mt-32 pt-32 pb-16 px-4 md:px-8 lg:px-16 translate-y-10">
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-purple-900 mb-8 text-center">Proyectos</h2>
    <p class="text-lg md:text-xl text-gray-700 mb-16 text-center max-w-3xl mx-auto"> Esta es la seccion donde mostrare mis habilidades y los proyectos que he realizado a lo largo de mi carrera y universidad</p>
</section>